<div class="container">

    <div class="center"><a href="/quartzite" class="waves-effect waves-light btn">Back to Quartzite</a></div><br>


     <div class="row">      
        <div class="col m12" dir-paginate="material in searchResults | itemsPerPage: 1">
          <dir-pagination-controls id="pagination" max-size="15" on-page-change="myMethod(newPageNumber, oldPageNumber)" template-url="\node_modules\angular-utils-pagination\dirPagination.tpl3.html"></dir-pagination-controls>

            <div class="card">
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">{{ material.material_name }}<i class="material-icons right">more_vert</i></span>
              </div>
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" ng-src="http://marble.com/uploads/materials/{{material.material_id}}/1280X720/{{material.material_photo_name}}">
              </div>
              <div class="card-reveal" id="reveal">
                <span class="card-title grey-text text-darken-4 center"><h3>{{ material.material_name }}</h3><i class="material-icons right">close</i></span>
                <h5 class="center">Description: </h5>
                <p class="center"><strong>{{ material.material_description }}</strong></p>
                <h5 class="center">Other Names: </h5>
                <p class="center"><strong>{{ material.material_other_names }}</strong></p>
                <h5 class="center">Country of Origin ID: </h5>
                <p class="center"><strong>{{ material.material_country_of_origin }}</strong></p>
              </div>
            </div>
        </div>        
      </div>    
    </div>


    <div ui-view></div>