<!-- Material results from category search; ngRepeat -->
    <div class="container">
     <div class="row">   
        <div class="col m3" dir-paginate="material in glassStuff | itemsPerPage: 20">
          <a ui-sref="material({name: material.material_name})"><div class="card">
            <div class="card-image small">
                <img src="http://marble.com/uploads/materials/176/300X300/thumbnail/p8GFQFtX06EinEYXNH52.jpg">
            </div>
            <div class="card-content">
              <p>{{ material.material_name }}</p>
              <p>{{ material.material_country_of_origin }}</p>
            </div>
            </div>
          </a>
        </div>        
      </div>
    </div>
    <dir-pagination-controls id="pagination" template-url="\node_modules\angular-utils-pagination\dirPagination.tpl.html"></dir-pagination-controls>


    <div ui-view></div>