<div class="container">

    <!-- <div class="row">
      <div class="col m12" dir-paginate="material in allStuff | itemsPerPage: 1" pagination-id="noButtons">
        <dir-pagination-controls pagination-id="noButtons" on-page-change="myMethod(newPageNumber, oldPageNumber)" template-url="\node_modules\angular-utils-pagination\dirPagination.tpl3.html"></dir-pagination-controls>

      
      </div>
    </div> -->


     <div class="row">      
        <div class="col m12" dir-paginate="material in allStuff | itemsPerPage: 1">
          <dir-pagination-controls id="pagination" max-size="15" on-page-change="myMethod(newPageNumber, oldPageNumber)" template-url="\node_modules\angular-utils-pagination\dirPagination.tpl.html"></dir-pagination-controls>

            <div class="card">
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">{{ material.material_name }}<i class="material-icons right">more_vert</i></span>
              </div>
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" ng-src="http://marble.com/uploads/materials/{{material.material_id}}/1280X720/{{material.material_photo_name}}">
              </div>
              <div class="card-reveal" id="reveal">
                <span class="card-title grey-text text-darken-4">{{ material.material_name }}<i class="material-icons right">close</i></span>
                <p>{{ material.material_description }}</p>
              </div>
            </div>
        </div>        
      </div>    
    </div>


    <div ui-view></div>