<!-- Material results from category search; ngRepeat -->
    <div class="container">
     <div class="row">
      <div class="center">
        <h3>Marble</h3>
        <p>Marble is one of our most popular stones for bathroom vanities and other low traffic areas, like wash stations, butler's pantry and baking areas.</p>
      </div> 
      <br>   
        <div class="col m3" dir-paginate="material in marbleStuff | itemsPerPage: 28">
          <a ui-sref="material({id: material.material_category_id, offset: $index})"><div class="card">
            <div class="card-image small">
                <img ng-src="http://marble.com/uploads/materials/{{material.material_id}}/300X300/thumbnail/{{material.material_photo_name}}">
            </div>
            <div class="card-content">
              <h5>{{ material.material_name }}</h5>
            </div>
            </div>
          </a>
        </div>        
      </div>
    </div>
    <dir-pagination-controls id="pagination" max-size="7" on-page-change="myMethod(newPageNumber, oldPageNumber)" template-url="\node_modules\angular-utils-pagination\dirPagination.tpl.html"></dir-pagination-controls>


    <div ui-view></div>