  
  <!-- Material results from category search; ngRepeat -->
  <div class="container">
     <div class="row">
      <div class="center">
        <h3>Granite</h3>
        <p>Granite is one of the most popular countertop materials that we carry here at Marble.com. Granite is a durable choice for kitchen countertops, bathroom vanities, bar tops, and more. Since there are thousands of unique colors of granite, it is the perfect natural stone to fit the decor of any project.</p>
      </div> 
      <br>
        <div class="col m3" dir-paginate="material in graniteStuff | itemsPerPage: pageSize">
          <a ui-sref="material({id: material.material_category_id, offset: $index})"><div id="testg"class="card">
            <div class="card-image small">
                <img ng-src="http://marble.com/uploads/materials/{{material.material_id}}/300X300/thumbnail/{{material.material_photo_name}}">
            </div>
            <div class="card-content" id="color">
              <h5>{{ material.material_name }}</h5>
              <p>{{ $index }}</p> 
            </div>
            </div>
          </a>
        </div>        
      </div>
    </div>


    <div ui-view></div>
  
  