  
  <!-- Material results from category search; ngRepeat -->
    <div class="container">
     <div class="row">   
        <div class="col m3" dir-paginate="material in graniteStuff | itemsPerPage: 20">
          <a href="{{ url }}"><div class="card">
            <div class="card-image small">
                <img src="http://marble.com/uploads/materials/695/300X300/thumbnail/Lapidus-Gold_amTEVdar5mZ31nH7I30g.jpg">
            </div>
            <div class="card-content">
              <p>{{ material.material_name }}</p>
              <p>{{ material.material_country_of_origin }}</p>
            </div>
            </div>
          </a>
        </div>        
      </div>
    </div>

     <dir-pagination-controls
         max-size="5"
         direction-links="true"
         boundary-links="true" >
      </dir-pagination-controls>



    <div ui-view></div>

    <!-- <dir-pagination-controls></dir-pagination-controls> -->
        

                
    

    
    
          
  
