    <div class="container">
     <div class="row">
      <div class="center">
        <h3>Marble</h3>
        <p>Marble is one of our most popular stones for bathroom vanities and other low traffic areas, like wash stations, butler's pantry and baking areas.</p>
      </div> 
      <br>
        <div class="col m3" dir-paginate="material in marbleStuff | itemsPerPage: pageSize">
          <a ui-sref="material({id: material.material_category_id, offset: $index})"><div id="testg"class="card">
            <div class="card-image small">
                <img ng-src="http://marble.com/uploads/materials/{{material.material_id}}/300X300/thumbnail/{{material.material_photo_name}}">
            </div>
            <div class="card-content" id="color">
              <h5>{{ material.material_name }}</h5>
              <p>{{ $index }}</p> 
            </div>
            </div>
          </a>
        </div>        
      </div>
    </div>


    <div ui-view></div>