<div class="container">

    <div class="row">
      <div class="col m12" dir-paginate="material in scrollStuff | itemsPerPage: 1">
        <dir-pagination-controls on-page-change="myMethod(newPageNumber, oldPageNumber)" template-url="\node_modules\angular-utils-pagination\dirPagination.tpl2.html"></dir-pagination-controls>

      
      </div>
    </div>


     <div class="row">      
        <div class="col m12" dir-paginate="material in scrollStuff | itemsPerPage: 1">
            <div class="card">
              <div class="card-content">
                <h5 class="card-title activator grey-text text-darken-4">{{ material.material_name }}<i class="material-icons right">more_vert</i></h5>
              </div>
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" ng-src="http://marble.com/uploads/materials/{{material.material_id}}/1280X720/{{material.material_photo_name}}">
              </div>
              <div class="card-reveal" id="reveal">
                <h4 class="card-title grey-text text-darken-4">{{ material.material_name }}<i class="material-icons right">close</i></h4>
                <p><strong>{{ material.material_description }}</strong></p>
              </div>
            </div>
        </div>        
      </div>    
    </div>


    <div ui-view></div>