<div class="container">

    <div class="row">
      <div class="col m12" dir-paginate="material in scrollStuff | itemsPerPage: 1" dir-pagination-controls on-page-change="myMethod(newPageNumber, oldPageNumber)" template-url="\node_modules\angular-utils-pagination\dirPagination.tpl2.html">           
      </div>
          <div>
            <!-- show previous page material_name -->
            <a ng-click="prevMaterial()"><p id="backMat">{{ previous }}</p></a>
            <!-- show next page material_name -->
            <a ng-click="nextMaterial()"><p id="nextMat">{{ next }}</p></a>
          </div> 
    </div>


     <div class="row" dir-paginate="material in scrollStuff | itemsPerPage: 1">   
        <div class="col m12">
            <div class="card">
              <div class="card-content">
                <h5 class="card-title activator grey-text text-darken-4">{{ material.material_name }}<i class="material-icons right">more_vert</i></h5>
              </div>
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" ng-src="http://marble.com/uploads/materials/{{material.material_id}}/1280X720/{{material.material_photo_name}}">
              </div>
              <div class="card-reveal" id="reveal">
                <span class="card-title grey-text text-darken-4"><h3>{{ material.material_name }}</h3><i class="material-icons right">close</i></span>
                <p><strong>Description: </strong>{{ material.material_description }}</p>
                <p><strong>Other Names: </strong>{{ material.material_other_names }}</p>
                <p><strong>Country of Origin ID: </strong>{{ material.material_country_of_origin }}</p>
              </div>
            </div>
        </div>        
      </div>    
    </div>


    <div ui-view></div>