<!-- Material results from category search; ngRepeat -->
    <div class="container">
     <div class="row">   
        <div class="col m3" dir-paginate="material in quartzStuff | itemsPerPage: 20">
          <a href="/cosmicblack"><div class="card">
            <div class="card-image small">
                <img src="http://marble.com/uploads/materials/125/300X300/thumbnail/Super-White_QzCOnPKvyHD5Eifa8XrQ.jpg">
            </div>
            <div class="card-content">
              <p>{{ material.material_name }}</p>
            </div>
            </div>
          </a>
        </div>        
      </div>
    </div>
    <dir-pagination-controls id="pagination" template-url="\node_modules\angular-utils-pagination\dirPagination.tpl.html"></dir-pagination-controls>


    <div ui-view></div>