#gray {
	background-color: #666666;
	text-align: center;
	margin-left: 460px;
}

.nav-wrapper {
	text-align: center;
}

.card-content {
	margin: 0px;
	padding: 0px;
	background-color: #e6e6e6;
	color: #000;
	font-weight: bold;
	text-align: center;
}

#pages {
	text-align: center;
}

#pagination {
	text-align: center;
}

#reveal {
	background-color: #d9d9d9;
}

#backlink {
	float: left;
	background-color: #666666;
	color: #fff;
	margin-left: 200px;

}

#nextlink {
	float: right;
	background-color: #666666;
	color: #fff;
	margin-right: 200px;
}

.center {
	text-align: center;
}

h5 {
	font-size: 1.33rem;
	font-weight: bold;
}

#nextMat {
	float: right;
	margin-right: 239px;
	font-size: 18px;
}

#backMat {
	float: left;
	margin-left: 250px;
	font-size: 18px;
}

nav {
	background-color: #666666;
}

.left {
	float: left;
}

.right {
	float: right;
}

#set {
	font-size: 110%;
}

#topNav {
	padding-bottom: 50px;
	background-color: #000;
}

#midNav {
	/*height: 90px;*/
	background-color: #d56324!important;
	vertical-align: center;
	text-align: center;
	margin-right: 300px;
	margin-left: 400px;
}

#logo {
	font-size: 2rem;
}

#middle {
	background-color: #d56324!important;
}