<!-- Category navbar; ngRepeat -->
        <nav>
          <div class="nav-wrapper" id="gray">
            <ul class="hide-on-med-and-down">
              <li><a href="/home">Materials</a></li>
              <li><a href="/granite">Granite</a></li>
              <li><a href="/marble">Marble</a></li>
              <li><a href="/quartzite">Quartzite</a></li>
              <li><a href="/quartz">Quartz (Engineered Stone)</a></li>
              <li><a href="/onyx">Onyx</a></li>
              <li><a href="/travertine">Travertine</a></li>
              <li><a href="/gemstone">Gemstone</a></li>
              <li><a href="/soapstone">Soapstone</a></li>
              <li><a href="/limestone">Limestone</a></li>
              <li><a href="/slate">Slate</a></li>
              <li id="test"><a href="/glass">Glass</a></li>
            </ul>
          </div>
        </nav>
        <br>
        <div class="container" ng-controller="SearchCtrl">
          <a class="btn" ng-click="showSearch()"><i class="material-icons">search</i></a>
          <br>
          <br>
        <form class="ng-hide" id="form" ng-submit="searchFunction()">
          <input type="text" ng-model="search" placeholder="Enter material name..." />
        </form>
      </div>
        <br>